RewriteEngine On

# Si la petición no es un archivo físico existente
RewriteCond %{REQUEST_FILENAME} !-f
# Y tampoco es una carpeta existente
RewriteCond %{REQUEST_FILENAME} !-d
# Reescribir todo hacia el index.html de la raíz
RewriteRule . index.html [L]